/* @import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap'); */

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


.contactbox
{   
    height: 100vh;
    background: linear-gradient(
        to right,
        rgba(238,222,146,255) 0%,
        rgba(238,222,146,255) 50%,
        #003580 50%,
        #003580 100%   
    );
    display: flex;
    justify-content: center;
    align-items: center;

}


/* .contactbox::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff38e;
} */

.locationicon {
    height: 30px;
    background-image: url(../images/images/location.png);
    background-size: cover;
    background-color:  white;
}
.locationmail {
    height: 30px;
    background-image: url(../images/images/mail.png);
    background-size: cover;
    background-color:  white;
}

.locationnumber {
    height: 30px;
    background-image: url(../images/images/call.png);
    background-size: cover;
    background-color:  white;
}

.one {
    height: 30px;
    width: 30px;
    background-image: url(../images/images/2.png);
    background-size: cover;
    background-color:  white;
}

.two {
    height: 30px;
    width: 30px;
    background-image: url(../images/images/3.png);
    background-size: cover;
    background-color:  white;
}

.three {
    height: 30px;
    width: 30px;
    background-image: url(../images/images/5.png);
    background-size: cover;
    background-color:  white;
}

.five {
    height: 30px;
    width: 30px;
    background-image: url(../images/images/1.png);
    background-size: cover;
    background-color:  white;
}

.queryhistry{
    height: 30px;
    background-image: url(../images/images/query.png);
    background-size: cover;
    background-color:  white;
}


.containercontact
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 10;
    /* border-radius: 22px; */
    /* background-color: #fff; */

}

.containercontact .contactInfo
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #003580;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15); 
    border-radius: 22px;
}

.containercontact .contactInfo h2
{
    color: #fff;
    font-size:24px;
    font-weight: 500;
}

.containercontact .contactInfo ul.info 
{
   position: relative;
   margin: 20px 0; 
}

.containercontact .contactInfo ul.info li
{
   position: relative;
   list-style: none;
   display: flex;
   margin: 20px 0;
   cursor: pointer;
   align-items: flex-start;
}

.containercontact .contactInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}

/* for gmail */
.containercontact .contactInfo ul.info li span a
{
    color: #fff;
    text-decoration: none;
    width: 30px;
    min-width: 30px;
    
}

.containercontact .contactInfo ul.info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
}

.containercontact .contactInfo ul.info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.containercontact .contactInfo ul.sci
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 250px;
}

.containercontact .contactInfo ul.sci li
{
   list-style: none;  
   
}

.containercontact .contactInfo ul.sci li a
{
   text-decoration: none;
}

.containercontact .contactInfo ul.sci li a img
{
   filter: invert(1);
}

.containercontact .contactForm1
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
      
    width: calc(100% - 150px);
    height: 100%;
    background: #fff; 
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
    border-radius: 22px;

}

#hidden{
    display: none;
}

.containercontact .contactForm2
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
      
    width: calc(100% - 150px);
    height: 100%;
    background: #fff; 
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
    border-radius: 22px;

    overflow: scroll;
}

.containercontact .contactForm1 h2
{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

.containercontact .contactForm1 .formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.containercontact .contactForm1 .formBox .inputBox
{
    position: relative;
    margin-bottom: 35px;
}

.containercontact .contactForm1 .formBox .inputBox.w50
{
    width: 47%;
}

.containercontact .contactForm1 .formBox .inputBox.w100
{
    width: 100%;
}

.containercontact .contactForm1 .formBox .inputBox input,
.containercontact .contactForm1 .formBox .inputBox textarea 
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.containercontact .contactForm1 .formBox .inputBox textarea 
{
    height: 120px;
}

.containercontact .contactForm1 .formBox .inputBox span 
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.containercontact .contactForm1 .formBox .inputBox input:focus ~ span,
.containercontact .contactForm1 .formBox .inputBox input:valid ~ span,
.containercontact .contactForm1 .formBox .inputBox textarea:focus ~ span, 
.containercontact .contactForm1 .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size:  12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #095a55;
    font-weight: 500;
} 

/* Css for the submit button */
.containercontact .contactForm1 .formBox .inputBox input[type="submit"]         
{
    position: relative;
    cursor: pointer;
    background: #095a55;
    border-radius: 20px;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

}

.containercontact .contactForm1 .formBox .inputBox input[type="submit"]:hover{
    background: #0d9480;
}

/* make the form responsive */
@media (max-width: 1200px)
{
    .containercontact
    {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }

    .containercontact .contactInfo
    {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
        border-radius: 0px;
    }

    .containercontact .contactForm1
    {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media (max-width: 991px)
{
    .contactbox
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #fff38e;
    }

    .contactbox::before
    {
        display: none;
    }

    .containercontact
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .containercontact .contactForm1
    {
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .containercontact .contactInfo
    {
        width: 100%;
        height: auto;
        flex-direction: row;
        border-radius: 0px;
    }
    .containercontact .contactInfo ul.sci
    {
       position: relative;
       display: flex;
    }
}

@media (max-width: 600px)
{
    .containercontact .contactForm1
    {
        padding: 25px;
    }

    .containercontact .contactInfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .containercontact .contactInfo ul.sci
    {
        margin-top: 40px;
    }

    .containercontact .contactForm1 .formBox .inputBox.w50
    {
        width: 100%;
    }
}